GOOGLE_SPREADSHEET_ID=your_google_spreadsheet_id
GOOGLE_SERVICE_ACCOUNT_PATH=./config/service_account.json
DHLOTTERY_ID=your_dhlottery_id
DHLOTTERY_PW=your_dhlottery_password
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
LOTTERY_AUTO_ROOT=<repo-path>/lottery-pension-auto
